@model TattoStudioModerna.Data.Order


@{
    ViewData["Title"] = "Премахване на татуировка";
}

<h1 style="color:wheat">Премахване на татуировка</h1>

<h3 style="color:wheat">Сигурен ли сте, че искате да изтриете татуировката?</h3>
<div style="color:wheat">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a>Име на клиент</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            <a>Име на татуировка</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tatto.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> 
        <a class="btn btn-dark" asp-action="Index">Назад</a>
    </form>
</div>
