@model TattoStudioModerna.Data.Order

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:wheat">Промяна на поръчка</h1>
<hr />
<div style="color:wheat" class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TattoId" class="control-label">Име на татуировка</label>
                <select asp-for="TattoId" class="form-control" asp-items="ViewBag.TattoId"></select>
                <span asp-validation-for="TattoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запази" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
