@model TattoStudioModerna.Data.Tatto

@{
    ViewData["Title"] = "Премахване на татуировка";
}

<h1 style="color:wheat">Премахване на татуировка</h1>

<h3 style="color:wheat">Сигурен ли сте, че искате да премахнете татуировката?</h3>
<div style="color:wheat">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a>Име на татуировка</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            <a>Снимка</a>
        </dt>
        <dd class = "col-sm-10">
            <img src='@Html.DisplayFor(model => model.Image)' width="100" />
        </dd>
        <dt class = "col-sm-2">
            <a>Описание</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class = "col-sm-2">
            <a>Цена</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> 
        <a class="btn btn-dark" asp-action="Index">Назад</a>
        
    </form>
</div>
