@{
    ViewData["Title"] = "Home Page";
 }

<h1 style="text-align:center">Добре дошли в тату студио "Модерна"</h1>
<div class="b" style="background:rgba(255,255,255,0.6);">
    В тато студио Модерна нашата основна цел е да създадем единствена по рода си татуировка по поръчка само за вас. От малка татуировка до много седнал ръкав, независимо дали търсите първата си татуировка или сте опитен колекционер, ние се стремим да надминем картината в ума ви.
    Ние сме студио за татуировки по поръчка, така че няма да намерите стените ни покрити с традиционни татуировки флаш дизайни. Искаме да реализираме вашите уникални идеи. От хартия до кожа, ние ще ви посъветваме относно оформлението, композицията и разположението.
    Ако не сте решили за дизайн, но знаете, че искате персонализирана и наистина уникална татуировка, помолете да видите оригиналните дизайни на нашите художници. Много пъти тези дизайни се предлагат на фиксирана ставка срещу почасова ставка, защото ще показвате творбите и способностите на вашите художници върху тялото си.
    
</div>

<html>
<body>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/DxR9eauTK1I">
    </iframe>
    <div style="background-color: rgba(255,255,255,0.6);" class="display">
        <p style="text-align:center">За контакти с нас</p>
        <p style="text-align:center">Телефон: 0897474551</p>
        <p style="text-align:center">Email: mal4ou1@gmail.com</p>
    </div>
    
</body>
</html>
